*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.app{
  width: 100%;
  max-width: 1300px;
  padding: 15px;
  height: 100vh;
  margin: auto;
}


.flex{
  display: flex;
}

.felx-col{
  flex-direction: column;
}