.flex{
    display: flex;
    
}
button{
    cursor: pointer;
}
.flex-col{
    flex-direction: column;
}
.h1{
    text-align: center;
    margin: 25px 0;
}

.gap-25{
    gap: 25px;
    /* flex-wrap: wrap; */
}
.w-150px{
    width: 100%;
    max-width: 150px;
overflow: hidden;
}
.mt-50{
    margin-top: 55px;
}
.w-100{
    width: 100%;
}
.h-100{
    min-height: 90vh;
}
.align-centre{
    align-items: center;
}

.justify-centre{
    justify-content: center;
}
.sendDataButton{

    width: 100%;
    align-items: center;
    justify-content: center;
margin: 50px 0;
}

.sendDataButton button{
    height: 40px;
    width: 150px;
    border: 0;
    background-color: rgb(0, 191, 255);
    color: white;
    border-radius: 4px;
}


.addNewData{
    /* width: 100%; */
    margin: 25px auto;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}